body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    align-content: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

iframe {
    width: calc(50% - 4px);
    height: 100vh;
    border-width: 0;
}

iframe#snifs {
    border-right: 1px solid grey;
}

iframe#discuss {
    height: calc(100vh - 4rem);
    margin-top: 4rem;
}

button {
    position: fixed;
    z-index: 10;
    box-shadow: 3px 3px 2px #888888 !important;
}

#snifs_person {
    left: 10px;
    top: 10px;
}

#snifs_group {
    left: 7rem;
    top: 10px;
}

#article {
    /* left:90%; */
    right: 10px;
    top: 10px;
}

#external_search {
    position: fixed;
    top: 10px;
    left: calc(50% + 10px);
}

#external_search input {
    width: calc(50vw - 10rem - 10px);
}

#article_content {
    z-index: 30;
    position: fixed;
    visibility: hidden;
    height: 50%;
    width: 50%;
    left: 12.5%;
    top: 12.5%;
}

#article_page {
    background-color: aliceblue;
    height: 75vh;
    width: 75vw;
    visibility: hidden;
}

#header {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

#subtitle_header{
    font-size: 18px;
    text-align: right;
}

#subtitle_picture{
    font-size: 13px;
    text-align: center;
    align-content: center;
}

.content {
    font-size: 25px;
}

#news_picture{
    align-content: center;
    text-align: center;
}