body{
    font-size: 1em;
}
header{

}
div{
    margin-bottom: 5px;
    padding: 5px;
    /* background-color: aliceblue; */
}

#myDiagramDiv{
    background-color: white;
    border: 1px solid black;
    width: 45%;
    height: 550px;
    position: relative;
    float:left; /* two div in a row*/
}
#inputEventsMsg{
    width: 35%;
    height: 550px;
    /* border: 1px solid black; */
    /* display: none; */
    float:left; /* two div in a row*/
}
footer{

}
/* canvas{
    margin-left: -224px;
    width:58%
} */
